<tr bind-attr-class="ok"
    bind-not="disabled">
  <td>
    <a bind-attr-href="id"
       bind-format="./?model=geographies&parent_id={0}"
       bind-cond="has_subgeographies"
       title="Subgeographies">
      <i class="bi-filter"></i>
    </a>
  </td>

  <td>
    <a bind-attr-href="id"
       bind-format="./?model=datasets&geography_id={0}"
       title="Datasets">
      <i class="bi-collection"></i>
    </a>
  </td>

  <td>
    <a dt-edit class="bi-pencil-fill"></a>
  </td>

  <td bind="name"></td>

  <td>
    <span class="bi-globe2"
          title="deployed in public"
          bind-cond="inpublic"></span>

    <span title="NOT deployed in public"
          class="bi-empty"
          bind-unless="inpublic"></span>
  </td>

  <td>
    <span class="bi-box2"
          title="deployed in protected"
          bind-cond="inprotected"></span>

    <span title="NOT deployed in protected"
          class="bi-empty"
          bind-unless="inprotected"></span>
  </td>

  <td>
    <span class="bi-bounding-box-circles"
          title="deployed in training"
          bind-cond="intraining"></span>

    <span title="NOT deployed in training"
          class="bi-empty"
          bind-unless="intraining"></span>
  </td>

  <td>
    <span class="bi-cone"
          title="deployed in test"
          bind-cond="intest"></span>

    <span title="NOT deployed in test"
          class="bi-empty"
          bind-unless="intest"></span>
  </td>

  <td class="updated">
    <span bind-arg="updated"
          bind-lambda="human_time"></span>

    <span bind-arg="updated_by"
          bind-lambda="email_user"
          bind-format="({0})"></span>
  </td>
</tr>
