<tr>
  <td>
    <a dt-edit class="bi-pencil-fill"></a>
  </td>

  <td bind="name_long"></td>

  <td bind="name"
      style="font-family: monospace;"></td>

  <td bind-attr="title"
      bind-arg="features"
      style="font-family: monospace;">
    <span bind="datatype"></span>
    <span bind-cond="unit"
          style="opacity: 0.6;">
      (<span bind="unit"></span>)
    </span>
  </td>

  <td style="text-align: right;">
    <a bind-attr="href"
       bind-arg="id"
       bind-format="./?model=datasets&category_id={0}">
      <span bind="dscount"></span> datasets
    </a>
  </td>

  <td class="updated">
    <span bind-arg="updated"
          bind-lambda="human_time"></span>

    <span bind-arg="updated_by"
          bind-lambda="email_user"
          bind-format="({0})"></span>
  </td>
</tr>
